[Unit]
Description=My Cellular Setup Service
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/boot/env.conf
ExecStart=/usr/bin/python /home/armasuisse/python-pi-cellular-setup/setup.py
StandardOutput=file:/home/armasuisse/logs/cellularsetup.log
StandardError=file:/home/armasuisse/logs/cellularsetuperror.log

[Install]
WantedBy=multi-user.target
